---
title: Links
layout: default
---

<div class="container mt-4">
    <img width="300px" src="{{ site.data.bio.basics.picture }}" class="d-block mx-auto rounded-circle">
    <h1 class="fw-bold text-center m-4">Micah Tilton</h1>
    {% include social/links.html name="TikTok" url="https://www.tiktok.com/@its_tilton" img="../img/logos/tiktok.png" %}
    {% include social/links.html name="YouTube" url="https://www.youtube.com/@micah_tilton" img="../img/logos/youtube.png" %}
    {% include social/links.html name="GitHub" url="https://github.com/micahtilton" img="../img/logos/github.png" %}
    {% include social/links.html name="Linkedin" url="https://www.linkedin.com/in/micah-tilton-0a4b65289/" img="../img/logos/linkedin.png" %}
    {% include social/links.html name="Site" url="https://micahtilton.github.io" img="../img/logos/site.png" %}
</div>